.weather-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  padding-top: 5vmin;
}

.weatherformdiv {
  display: flex;
  flex-direction: column;
  
}

.weather-show {
  display: flex;
  padding-top: 5vmin;
  justify-content: center;
}

.weather-form-style {
  display: flex;
  flex-direction: column;
}