.LandingPage  {
  height: 100%;
  display: grid;
  grid-template-columns: 1.6fr 3.5fr 3fr;
  grid-template-rows: 1fr;
  background-color: #ffea69;
  border-radius: 2vmin;
}

.noUserDiv {
  display: flex;
  width: 80vw;
  height: 90vh;
  align-items: center;
  justify-content: space-evenly;
}

.no-user-weather-form {
  display: flex;
  width: 50%;
}

.weather-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vmin;
  width: 85.8vmin;
  margin-left: 12.2vmin;
  margin-top: -5vmin;
  position: absolute;
}

.weather-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.show-users-div {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 120vmin;
  margin-top: 21vmin;
  flex-wrap: wrap;
  height: 50vmin;
  width: 75vmin;
  overflow: scroll;
  overflow-x: hidden;
}

.weather-show {
  display: flex;
  position: absolute;
  margin-top: 120vmin;
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: black;
  background: #61dafb;
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.user-weather-card {
  display: flex;
  flex-direction: column;
  margin-left: 3vmin;
  height: 25vmin;
  width: 30vmin;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.user-weather-card button {
  height: 5vmin;
  width: 5vmin;
}